@use "../../scss/_breakpoint.scss" as *;

.movie-list{
    .swiper-slide{
        width: 15%;

        @include tablet{
            width: 30%;
        }
        
        @include mobile{
            
        }
    }
}