@use "../../scss/_breakpoint.scss" as *;

.movie-list {
  h2{
    text-align: center;
    &:hover{
      color: #fa983a;
    }
  }
  .swiper-slide {
    width: 15%;

    @include tablet {
      width: 30%;
    }

    @include mobile {
      width: 40%;
    }
  }
}
